<div class="mb-3 row">
    <label for="{{.data.frmname}}_{{.data.id}}" class="col-sm-2 col-form-label">{{.data.label}}</label>
    <div class="col-sm-10">
      <select type="{{.data.type}}" class="form-select form-select-sm{{if .data.class}} {{.data.class}}{{end}}"{{ range $key, $value := .attr }} {{$key}}="{{$value}}"{{end}}>    
      {{ range $key, $value := .opts }}<option value="{{$key}}"{{if eq $key $.data.value }} selected{{end}}>{{$value}}</option>{{end}}
      </select>
    </div>
{{if .data.caption}}    <small id="{{.data.id}}_Help" class="form-text text-muted">{{.data.caption }}</small>{{end}}
</div>
