{{ template "base" . }}

{{define "body"}}

<h1>DETALLE DE PRESENTACIÓN</h1>
<h5>PRESENTACIÓN TIPO: {{.tipo}}</h5>
<!--
<a style="float: right;" href="/project/{{.PR.Emplcuit}}/{{.PR.Periodo}}/detalle">[Detalle acumulado]</a>
-->
<table class="table table-bordered table-sm">
<thead>
<tr><th>CUIT</th><th>Periodo</th><th>Envio</th><th>F.Presentación</th><th>TipoDoc</th></tr>
</thead>
<tbody>
<tr><td>{{.PR.Emplcuit}}</td><td>{{.PR.Periodo}}</td><td>{{.PR.Envio}}</td><td>{{.PR.Fechapresentacion}}</td></tr>
</tbody>
</table>

<table class="table table-bordered table-sm">
<thead>
   <tr>
      <th>Apellido Nombre</th><th>Provincia</th><th>CodPos</th><th>Localidad</th><th>Calle</th><th>Nro</th><th>Piso</th><th>Depto</th>
   </tr>
   </thead>
   <tbody>
   <tr>
      <td>{{.PR.Emplapellido}} {{.PR.Emplnombre}}</td>
      <td>{{.PR.Dirprovincia}}</td>
      <td>{{.PR.Dircp}}</td>
      <td>{{.PR.Dirlocalidad}}</td>
      <td>{{.PR.Dircalle}}</td>
      <td>{{.PR.Dirnro}}</td>
      <td>{{.PR.Dirpiso}}</td>
      <td>{{.PR.Dirdpto}}</td>
   </tr>
</tbody>
</table>

{{if eq .tipo "B"}}
<h5>AGENTE DE RETENCIÓN</h5>
<table class="table table-bordered table-sm">
<thead><tr><th>CUIT</th><th>Denominación</th></tr></thead>
<tbody>
<tr><td>{{.PR.Agretcuit}}</td><td>{{.PR.Agretdenominacion}}</td></tr>
</tbody>
</table>
{{- end}}

{{if .CFS }}
<h5>***CARGAS FAMILIA</h5>
<table class="table table-bordered table-sm">
<thead class="btn-primary">
   <tr>
   <th>TipoDoc</th><th>NroDoc</th><th>Apellido Nombre</th><th>F.Nac</th><th>M.Desde</th><th>M.Hasta</th><th>Parentesco</th><th>Vigente</th><th>F.Limite</th><th>%Deducción</th>
   </tr>
   </thead>
   <tbody>
      {{- range $key, $item := .CFS}}
      <tr>
         <td>{{$item.Tipodoc}}</td>
         <td>{{$item.Nrodoc}}</td>
         <td>{{$item.Apellido}} {{$item.Nombre}}</td>
         <td>{{$item.Fechanac}}</td>
         <td>{{$item.Mesdesde}}</td>
         <td>{{$item.Meshasta}}</td>
         <td>{{$item.Parentesco}}</td>
         <td>{{$item.Vigenteproxper}}</td>
         <td>{{$item.Fechalimite}}</td>
         <td>{{$item.Porcdeduccion}}</td>
      </tr>
      {{- end}}
   </tbody>
</table>
{{- end}}

{{if .OES }}
<h5>***OTROS EMPLEADORES</h5>
<table class="table table-bordered table-sm">
<thead class="btn-primary">
   <tr><th>CUIT</th><th>Denominación</th></tr>
</thead>
<tbody>
   {{- range $key, $item := .OES}}
      <tr><td>{{$item.Cuit}}</td><td>{{$item.Denominacion}}</td></tr>
   {{- end}}
</tbody>
</table>
{{- end}}

{{if .DES }}
<h5>***DEDUCCIONES</h5>
{{- range $key, $item := .DES}}
<table class="table table-bordered table-sm">
   <thead class="btn-secondary">
      <tr>
         <th>Tipo</th><th>TipoDoc</th><th>NroDoc</th><th>Denominación</th><th>DescBasica</th><th>DescAdicional</th><th>MontoTotal</th>
      </tr>
   </thead>
   <tbody>   
   <tr>
      <td>{{$item.GEN.Tipo}}</td>
      <td>{{$item.GEN.Tipodoc}}</td>
      <td>{{$item.GEN.Nrodoc}}</td>
      <td>{{$item.GEN.Denominacion}}</td>
      <td>{{$item.GEN.Descbasica}}</td>
      <td>{{$item.GEN.Descadicional}}</td>
      <td>{{$item.GEN.Montototal}}</td>
   </tr>
   <tr>
      <td colspan="7">
         <div class="row">
            <div class="col"></div>
            <div class="col">
               Detalles
               <table class="table table-bordered table-sm">
                  <thead><tr><th>Nombre</th><th>Valor</th></tr></thead>
                  <tbody>
                     {{- range $keyx, $itemx := $item.DET }}
                     <tr><td>{{$itemx.Nombre}}</td><td>{{$itemx.Valor}}</td></tr>
                     {{- end}}
                  </tbody>
               </table>      
            </div>
            <div class="col">
               Períodos
               <table class="table table-bordered table-sm">
                  <thead><tr><th>MesDesde</th><th>MesHasta</th><th>MtoMensual</th></tr></thead>
                  <tbody>
                     {{- range $keyx, $itemx := $item.PER }}
                     <tr><td>{{$itemx.Mesdesde}}</td><td>{{$itemx.Meshasta}}</td><td>{{$itemx.Montomensual}}</td></tr>
                     {{- end}}                    
                  </tbody>
               </table>
            </div>
         </div>

      </td>
   </tr>
</tbody>
</table>
{{- end}}
{{- end}}

{{if .RES }}
<h5>***DETALLE DE LAS PERCEPCIONES Y PAGOS A CUENTA</h5>
{{- range $key, $item := .RES}}
<table class="table table-bordered table-sm">
<thead class="btn-primary">
   <tr>
      <th>Tipo</th><th>TipoDoc</th><th>NroDoc</th><th>Denominación</th><th>DescBasica</th><th>DescAdicional</th><th>MontoTotal</th>
   </tr>
</thead>
<tbody>
   <tr>
      <td>{{$item.GEN.Tipo}}</td>
      <td>{{$item.GEN.Tipodoc}}</td>
      <td>{{$item.GEN.Nrodoc}}</td>
      <td>{{$item.GEN.Denominacion}}</td>
      <td>{{$item.GEN.Descbasica}}</td>
      <td>{{$item.GEN.Descadicional}}</td>
      <td>{{$item.GEN.Montototal}}</td>
   </tr>
   <tr>
      <td colspan="7">
         <div class="row">
            <div class="col"></div>
            <div class="col">
               Detalles
               <table class="table table-bordered table-sm">
                  <thead><tr><th>Nombre</th><th>Valor</th></tr></thead>
                  <tbody>
                     {{- range $keyx, $itemx := $item.DET }}
                     <tr><td>{{$itemx.Nombre}}</td><td>{{$itemx.Valor}}</td></tr>
                     {{- end}}
                  </tbody>
               </table>      
            </div>
            <div class="col">
               Períodos
               <table class="table table-bordered table-sm">
                  <thead><tr><th>MesDesde</th><th>MesHasta</th><th>MtoMensual</th></tr></thead>
                  <tbody>
                     {{- range $keyx, $itemx := $item.PER }}
                     <tr><td>{{$itemx.Mesdesde}}</td><td>{{$itemx.Meshasta}}</td><td>{{$itemx.Montomensual}}</td></tr>
                     {{- end}}                    
                  </tbody>
               </table>
            </div>
         </div>
      </td>
   </tr>
</tbody>
</table>
{{- end}}
{{- end}}


{{if .SAS }}
<h5>***DETALLE DE LOS AJUSTES</h5>
<table class="table table-bordered table-sm">
<thead class="btn-primary">
   <tr>
      <th>Tipo</th><th>CUIT</th><th>Denominación</th><th>DescBasica</th><th>DescAdicional</th><th>MontoTotal</th><th>Detalles</th>
   </tr>
</thead>
<tbody>
{{- range $key, $item := .SAS}}
   <tr>
      <td>{{$item.Tipo}}</td>
      <td>{{$item.Cuit}}</td>
      <td>{{$item.Denominacion}}</td>
      <td>{{$item.Descbasica}}</td>
      <td>{{$item.Descadicional}}</td>
      <td>{{$item.Montototal}}</td>
      <td>{{$item.Detalles}}</td>
   </tr>
{{- end}}
</tbody>
</table>
{{- end}}


{{if .DAS }}
<h5>***DATOS ADICIONALES</h5>
<table class="table table-bordered table-sm">
<thead class="btn-primary">
   <tr><th>Nombre</th><th>MesDesde</th><th>MesHasta</th><th>Valor</th></tr>
</thead>
<tbody>
{{- range $key, $item := .DAS}}
   <tr>
      <td>{{$item.Nombre}}</td>
      <td>{{$item.Mesdesde}}</td>
      <td>{{$item.Meshasta}}</td>
      <td>{{$item.Valor}}</td>
   </tr>
{{- end}}
</tbody>
</table>
{{- end}}
{{ end }}
